# Maintained dependencies are selected by committed gitlinks.

[submodule "Dependencies/minimuxer"]
    path = Dependencies/minimuxer
    url = https://github.com/NRG-Wardog/minimuxer.git
[submodule "Dependencies/SideSign"]
    path = Dependencies/SideSign
    url = https://github.com/NRG-Wardog/SideSign.git
